
</div>
<div id="footer">
    Copyright &copy; 2020 <br> Direwolves | NIT Delhi 
</div>
<script>
    
    function resizefn(){
        $('#content').css("background-image", "url('/santa/images/bg.jpg')");
        console.log('resized');
    }

    // $(window).on('resize', resizefn());
    $(document).ready( resizefn() );

</script>
</body>
</html>
