<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Santa Gift</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"> </script>
    <style>
        #content {
            background-color: mintcream;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-image: url('/santa/images/bg.jpg');
            min-height: 102%;
        }

        #footer {
            background-color: #ddd;
            color: black;
            text-align: center;
            padding: 30px 10%;
        }
    </style>
</head>

<body>
<div id="content">
    <div class="ui center aligned attached segment">
        <a href="<%= ROOT_PATH %>/" style="float: left;"><i class="home icon"></i></a>
        <div class="item">
            DIREWOLVES SECRET SANTA
        </div>
    </div>
